<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>CIN <input type = "text" name = "CIN" /></p>
         <p>Loan Amount <input type = "text" name = "Loan Amount" /></p>
         <p>Interest Rate <input type = "text" name = "Interest Rate" /></p>
         <p>Loan tenure <input type ="text" name = "Loan tenure" /></p>
         <p>Monthly Income<input type ="text" name = "Monthly Income" /></p>
         <p>Current Debt <input type ="text" name = "Current Debt" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>